<div style="width: 100%; height: 100%; overflow: auto">
    <img ng-show="ctrl.isLoading" src="/public/img/loading.gif">

    <div ng-hide="ctrl.isLoading">
        <table>
            <tr>
                <td>
                    <select ng-model="ctrl.overviewMode" ng-change=selectOverviewMode()>
                        <option value="1">Separated</option>
                        <option value="2">Integrated</option>
                    </select>
                </td>

                <td ng-show="ctrl.overviewMode == ctrl.enums.overviewMode.SEPARATED">
                    <table>
                        <tr>
                            <td ng-if="false" style="padding-left: 10px">
                                <select ng-model="ctrl.linkingMode" ng-change="selectLinker()">
                                    <option value="1">X Cross</option>
                                    <option value="2">Normal cross</option>
                                    <option value="3">Change color</option>
                                </select>
                            </td>

                            <td style="padding-left: 10px">
                                <button ng-click="groupUngroup()"
                                    style="width:70px">{{ctrl.isGrouped ? "Ungroup" : "Group"}}</button>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>

        <div style="position:relative;margin-top: 10px">
            <canvas id="overviewCanvas" style="position: absolute" width="{{ctrl.overviewWidth}}"
                height="{{ctrl.overviewHeight}}"></canvas>
            <canvas id="focusAreaCanvas" style="position: absolute; cursor: crosshair" width="{{ctrl.overviewWidth}}"
                height="{{ctrl.overviewHeight}}" ng-mousemove="moveFocusArea($event)"
                ng-click="fixFocusArea($event)"></canvas>
        </div>

        <div id="focusGraphContainer" style="height: 400px; overflow: auto; margin-top: {{ctrl.focusGraphMarginTop}}px">
            <table id="focusGraphTable" cellspacing="0" cellpadding="0">
                <tr ng-repeat="x in [].constructor(ctrl.focusModel.data.length) track by $index"
                    style="border-bottom:1px dashed black" ng-click="selectNode($index)" id="focusGraphRow-{{$index}}">
                    <td
                        style="line-height: 100%; {{ctrl.focusModel.data[$index].isSelected ? 'font-weight: bold; color: brown' : ''}}">
                        {{ctrl.isGrouped ? "Group " + ctrl.focusModel.data[$index].groupIndex : ctrl.focusModel.data[$index].instance}}
                    </td>

                    <td style="padding-left: 20px" height="{{ctrl.focusGraphHeight}}">
                        <canvas id="focusGraphCanvas-{{$index}}" width="{{ctrl.focusGraphWidth}}"
                            height="{{ctrl.focusGraphHeight}}"></canvas>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>